h1 {
  font-family: "Montserrat", sans-serif;
  color: #e3f2fd;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

body {
   /*background color if browser doesn't super gradient */
   background-color: #00212e;
  
   /* gradient style for background if browser supports it */
   background-image: linear-gradient(to right, #26A69A, #303F9F);

  /*font style for body elements */
  font-family: "Montserrat", sans-serif;
  color: #00212e;
  font-weight: bold;
}

.quote-container {
  background-color: #e3f2fd;
  width: 550px;
  height: auto;
  position: relative;
  display: block;
  padding: 40px 50px;
  margin: auto;
}

.quoteText {
  font-size: 25px;
  color: #263238;
  text-align: left;
}

.quoteAuthor {
  font-size: 20px;
  color: #263238;
  display: block;
  float: right;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 5%;
}

.buttons{
  display: inline-block;
  text-align: center;
  margin-top: 20px;
  margin-left: 160px;
}

.get-quote {
  margin-top: 3%;
  cursor: pointer;
}

.get-quote: hover{
  opacity: 0.9;
  background:#000;
  color: #fff;
}

.send-tweet {
  margin-top: 3%;
  cursor: pointer;
<<<<<<< HEAD
}
=======
}
>>>>>>> 07f238e36e7561d42560c1dd1afff300d38f10b4
